 <!DOCTYPE html>
<html>
<head>
	<title></title>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<link rel='stylecheet' href='/css/chat-front.css'/>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/chat-front.js"></script>

	

</head>
<body>
<%-partial('../html/form') %>
<%-body %>
</body>
</html>

